<template>
  <a-card style="max-height: 24rem; min-height: 24rem; overflow:hidden;">
    <div class="campaing__header">
      <a-row :gutter="12" type="flex" justify="center">
        <a-col :span="16">
          <h3 style="font-size:14px">
            {{
              item.title.length > 19
                ? item.title.substring(0, 18) + "..."
                : item.title
            }}
          </h3>
        </a-col>
        <a-col v-if="!isEditStoreTitleVisible && typeStore === NAOS">
          <a-tooltip
            :title="item.hasdiscount ? 'Quitar descuento' : 'Agregar descuento'"
            placement="top"
          >
            <a-switch
              v-model="item.hasdiscount"
              size="small"
              @change="
                e => {
                  onRemoveDiscount(e, item.id);
                }
              "
            />
          </a-tooltip>
        </a-col>
        <a-col v-if="!isEditStoreTitleVisible" :span="4">
          <a-tooltip
            :title="isSelected ? 'Quitar de campaña' : 'Agregar a compaña'"
            placement="top"
          >
            <a-checkbox :checked="isSelected" @change="onChangeCheckbox" />
          </a-tooltip>
        </a-col>
        <a-col v-if="isStoreView" :span="4" flex>
          <a-row type="flex" justify="space-around">
            <a-col>
              <a-tooltip
                :title="item.isactiveonstore ? 'Pausar' : 'Activar'"
                placement="top"
              >
                <a-switch
                  v-if="type === NAOS"
                  v-model="item.isactiveonstore"
                  size="small"
                  @change="
                    e => {
                      onDeactivateProduct(e, item.id);
                    }
                  "
                />
              </a-tooltip>
              <a-tooltip
                :title="item.isactiveonesthederm ? 'Pausar' : 'Activar'"
                placement="top"
              >
                <a-switch
                  v-if="type === ESTHEDERM"
                  v-model="item.isactiveonesthederm"
                  size="small"
                  @change="
                    e => {
                      onDeactivateProduct(e, item.id);
                    }
                  "
                />
              </a-tooltip>
            </a-col>
          </a-row>
        </a-col>
      </a-row>
    </div>
    <a-divider />
    <a-row type="flex" justify="space-around">
      <a-col>
        <p v-if="!isStoreView" class="center">
          <strong>{{ item.price }} pesos</strong>
        </p>
      </a-col>
      <a-col>
        <p v-if="!isStoreView" class="center">
          <strong>{{ item.stock }} pzas</strong>
        </p>
      </a-col>
      <p v-if="isStoreView" class="center">
        <strong>{{ item.points }} pts</strong>
      </p>
    </a-row>
    <div style="width:100%; height:8rem;margin-top:1rem; text-align:center;">
      <img class="campaing__imgd" alt="example" :src="item.image" />
    </div>
    <a-space
      align="center"
      style="height: 5rem; margin:0;"
      class="productDescription"
    >
      <span style="font-weight: 700; font-size:12px">{{
        item.description
      }}</span>
    </a-space>
    <template slot="actions" class="ant-card-actions"> </template>
  </a-card>
</template>

<script>
import { NAOS, ESTHEDERM } from "../../types";
export default {
  props: {
    item: Object,
    selectProduct: Function,
    isEditStoreTitleVisible: Boolean,
    isStoreView: Boolean,
    type: Number,
    typeStore: Number
  },
  data() {
    return {
      NAOS,
      ESTHEDERM,
      products: [],
      isSelected: false
    };
  },
  created() {
    if (!this.isStoreView) {
      this.products = this.$store.state.currentCampaing.products;
      this.isSelectedOnCampaing();
    }
    console.log(this.type);
  },

  methods: {
    onChangeCheckbox(e) {
      console.log({ e });
      this.isSelected = e.target.checked;
      //Se encarga de agregarlo a listado de productos para agregar a la campaña
      this.selectProduct(this.item.id, e.target.checked);
    },
    isSelectedOnCampaing() {
      let exist = this.products.find(product => product.id === this.item.id);

      if (exist) {
        this.isSelected = true;
        this.selectProduct(this.item.id, true);
      }
    },
    async onDeactivateProduct(isSwitchTrue, id) {
      if (isSwitchTrue) {
        try {
          const responseDeactivate = await this.$axios.put(
            `product/deactivate`,
            {
              productId: id,
              status: true,
              typestore: this.type
            }
          );
          if (responseDeactivate.data.status == 0) {
            this.$message.success("Producto activado.");
          } else {
            this.$message.error("No se ha realizado la acción");
          }
        } catch (error) {
          this.failDeactivatingProduct();
        }
      } else {
        const responseDeactivate = await this.$axios.put(`product/deactivate`, {
          productId: id,
          status: false,
          typestore: this.type
        });
        if (responseDeactivate.data.status == 0) {
          this.$message.success("Producto pausado.");
        } else {
          this.$message.error("No se ha realizado la accción.");
        }
        console.log({ responseDeactivate });
      }
    },

    failDeactivatingProduct() {
      this.$notification["error"]({
        message: "Error al pausar el producto",
        description:
          "Se ha producido un error al actualizar este producto, favor de intentarlo más tarde."
      });
    },
    async onRemoveDiscount(status, id) {
      try {
        const response = await this.$axios.put(`product`, {
          productId: id,
          hasdiscount: status
        });

        if (response.data.status == 0) {
          if (status) {
            this.$message.success("Descuento agregado.");
          } else {
            this.$message.success("Descuento removido.");
          }
        } else {
          this.$message.error("No se ha realizado la acción");
        }
      } catch (error) {
        this.failDeactivatingProduct();
      }
    }
  }
};
</script>

<style>
.campaing__imgd {
  width: 8rem;
  height: 8rem;
}
</style>
