<template>
  <a-col
    v-if="campaing.status.id !== statusCodes.deleted"
    :xl="{ span: 8 }"
    :lg="{ span: 10 }"
    :md="{ span: 20 }"
    :sm="{ span: 20 }"
    :xs="{ span: 20 }"
    style="min-height:100%;"
  >
    <div class="guter-col">
      <a-card
        :title="campaing.name"
        style="padding-top:0; margin:0;min-height:"
      >
        <a-badge
          slot="extra"
          status="success"
          text="Activa"
          v-if="campaing.status.id === statusCodes.active"
        />
        <a-badge
          slot="extra"
          status="processing"
          text="Incompleta"
          v-if="campaing.status.id === statusCodes.created"
        />
        <a-badge
          slot="extra"
          status="default"
          text="Eliminada"
          v-if="campaing.status.id === statusCodes.deleted"
        />
        <a-badge
          slot="extra"
          status="warning"
          text="Pausada"
          v-if="campaing.status.id === statusCodes.paused"
        />

        <a-badge
          slot="extra"
          status="warning"
          text="Finalizada"
          v-if="campaing.status.id === statusCodes.finished"
        />
        <a-spin v-if="loading" slot="extra" style="margin-left:1rem;">
          <a-icon
            slot="indicator"
            type="loading"
            style="font-size: 24px"
            spin
          />
        </a-spin>
        <a-row
          align="center"
          justify="space-between"
          style=" padding-bottom:1rem; margin-top:-0.5rem; "
          v-if="campaing.status.id !== statusCodes.deleted"
        >
          <a-col span="12" v-if="!isFinished">
            <a-popconfirm
              title="¿Estás seguro que deseas terminar esta campaña?"
              ok-text="Yes"
              cancel-text="No"
              @confirm="onCloseCampaing"
            >
              <a-button
                v-if="campaing.status.id !== statusCodes.finished"
                type="link"
                size="small"
                >Cerrar campaña
              </a-button>
            </a-popconfirm>
          </a-col>
          <a-col span="6" v-if="campaing.status.id !== statusCodes.finished">
            <a-tooltip placement="top" title="Pausar">
              <a-switch @change="onChangeSwitch" v-model="isActive" />
            </a-tooltip>
          </a-col>
          <a-col span="6" v-if="campaing.status.id !== statusCodes.finished">
            <a-icon
              @click="onEditCampaing(campaing)"
              class="campaing__action"
              size="small"
              type="edit"
            />
          </a-col>

          <a-col v-if="campaing.status.id === statusCodes.finished">
            <a-popconfirm
              title="¿Estás seguro que deseas eliminar esta campaña?"
              ok-text="Yes"
              cancel-text="No"
              @confirm="onDeleteCampaing"
            >
              <a-icon class="campaing__action" type="delete" />
            </a-popconfirm>
          </a-col>
          <!-- @click="onDeleteProductModal(), gettingId(item.id)" -->
        </a-row>
        <a-space direction="vertical" size="small" align="start">
          <p style="margin-bottom:0.1rem;font-weight:bold;">
            Vigencia
          </p>
          <div style="display:flex;">
            <p style="margin-bottom:0.1rem; ">
              Del {{ moment(campaing.startedAt).format("YYYY/MM/DD") }}
            </p>
            <p style="margin-bottom:0.1rem; margin-left:0.2rem; ">
              Al {{ moment(campaing.finishedAt).format("YYYY/MM/DD") }}
            </p>
          </div>
          <p style="margin-bottom:0.1rem; font-weight:bold;">
            Limite de productos
          </p>
          <p style="margin-bottom:0.1rem;">{{ campaing.buymax }}</p>
          <p style="margin-bottom:0.1rem; font-weight:bold;">
            Productos de regalo
          </p>
          <p style="margin-bottom:0.1rem;">{{ campaing.giftMax }}</p>
          <p
            v-if="campaing.bussinessId"
            style="margin-bottom:0.1rem; font-weight:bold;"
          >
            Convenio
          </p>
          <p style="margin-bottom:0.1rem;">{{ convenioName }}</p>
        </a-space>
        <template
          slot="actions"
          class="ant-card-actions"
          v-if="campaing.status.id !== statusCodes.deleted"
        >
          <span>
            <a-button
              @click="() => (exportCSModal = true)"
              :disabled="campaing.sales.length === 0"
            >
              VER PEDIDOS</a-button
            >
            <!-- :loading="inviteUserLoading" -->
          </span>
          <span>
            <a-button
              v-if="campaing.products.length && !isFinished"
              @click="onGoToStore"
              type="primary"
            >
              VER TIENDA
            </a-button>
          </span>
        </template>
      </a-card>
    </div>
    <a-modal
      centered
      v-model="exportCSModal"
      :confirmLoading="true"
      @cancel="closeExportCSVModal"
    >
      <template slot="footer" style="display:flex;">
        <div class="buttons_getreport">
          <a-button
            v-if="!isCSVReady"
            key="submit"
            class="button_getreport"
            type="primary"
            :loading="exportCSVLoading"
            @click="onGenerateReportClick"
            >GENERAR REPORTE</a-button
          >
          <download-csv
            v-else
            :data="dataToExport"
            :name="`ReporteVentas` + new Date().getTime().toString() + '.csv'"
          >
            <a-button
              type="primary"
              icon="download"
              @click="closeExportCSVModal"
              class="button_getreport"
              >DESCARGAR REPORTE</a-button
            >
          </download-csv>
          <download-csv
            v-if="isCSVReady"
            :data="dataToExportDetail"
            :name="
              `ReporteVentasDetalles` + new Date().getTime().toString() + '.csv'
            "
          >
            <a-button
              type="primary"
              class="button_getreport"
              icon="download"
              @click="closeExportCSVModal"
              >DESCARGAR DETALLES</a-button
            >
          </download-csv>
        </div>
      </template>
    </a-modal>
  </a-col>
</template>

<script>
import moment from "moment";

export default {
  props: {
    onEditCampaing: Function,
    changeStepStore: Function,
    replaceCampaing: Function,
    onAddProductsToCampaing: Function,
    restoreData: Function,
    changeBlockState: Function,
    setBusinessUsed: Function,
    campaing: Object,
    statusCodes: Object,
    stepStoresCodes: Object
  },
  data() {
    return {
      loading: false,
      isActive: false,
      isFinished: false,
      convenioName: "",
      exportCSModal: false,
      isCSVReady: false,
      exportCSVLoading: false,
      dataToExport: [],
      exportCSVForm: this.$form.createForm(this)
    };
  },
  computed: {
    status: function() {
      return campaing.status.id;
    }
  },
  mounted() {
    this.isActive = this.campaing.status.id === 3;
    this.isFinished = this.campaing.status.id === 5;
    console.log(this.campaing);
    if (this.campaing.bussinessId) {
      this.getConvenioName(this.campaing.bussinessId);
      this.setBusinessUsed(this.campaing.bussinessId);
    }
  },
  methods: {
    moment,
    handleClick() {
      this.loading = !this.loading;
    },
    async onChangeSwitch(isActiveValue) {
      if (isActiveValue && this.campaing.products.length === 0) {
        this.$notification["error"]({
          message: "No hay productos relacionados a esta campaña.",
          description: `Agrega unos antes de activar la campaña.`
        });
        this.isActive = false;
      } else if (isActiveValue) {
        try {
          this.loading = true;
          const response = await this.$axios.put(`campaingstore/active`, {
            id: this.campaing.id,
            storeId: this.campaing.store.id
          });
          this.loading = false;
          if (response.data.status === 3) {
            this.$notification["success"]({
              message: "Ya existe una campaña activa",
              description: `Solo puedes tener una campaña activa.
          `
            });
            this.isActive = false;
          } else if (response.data.status === 0) {
            this.replaceCampaing(response.data.campaing);
            this.$message.success("Campaña activada.");
            this.isActive = true;
          }
        } catch (error) {
          this.loading = false;
          this.$notification["error"]({
            message: "Ah ocurrido un error ",
            description: `
          ${error.message}
          `
          });
        }
      } else if (!isActiveValue) {
        try {
          this.loading = true;
          const response = await this.$axios.put(`campaingstore/inactive`, {
            id: this.campaing.id,
            storeId: this.campaing.store.id
          });
          this.loading = false;
          if (response.data.status === 0) {
            this.replaceCampaing(response.data.campaing);
            this.$message.success("Campaña desactivada.");
          }
          this.isActive = false;
        } catch (error) {
          this.loading = false;
          this.$notification["error"]({
            message: "Ah ocurrido un error ",
            description: `
          ${error.message}
          `
          });
        }
      }
    },
    async onDeleteCampaing() {
      try {
        this.loading = true;
        const response = await this.$axios.delete(
          `campaingstore/${this.campaing.id}`
        );
        this.loading = false;
        this.$message.success("Se ha eliminado con éxito.");
        this.replaceCampaing(response.data.campaing);
        this.restoreData();
      } catch (error) {
        this.loading = false;
        this.$notification["success"]({
          message: "Ah ocurrido un error al eliminar ",
          description: `La campaña ${this.campaing.name} no ha podido ser eliminada, intente de nuevo o comuniquese con soporte.
          ${error.message}
          `
        });
      }
    },
    async onCloseCampaing() {
      try {
        const DeactivateCampaingStoreDTO = {
          id: this.campaing.id,
          storeId: this.campaing.store.id
        };
        this.loading = true;
        const response = await this.$axios.put(
          `campaingstore/finish`,
          DeactivateCampaingStoreDTO
        );
        this.loading = false;
        if (response.data.status === 0) {
          this.$message.success("Se ha cerrado con éxito.");
          this.replaceCampaing(response.data.campaing);
        }
        response.data.status === 1 &&
          this.$message.error(
            "La campaña ya no existe o no está relacionada a esta tienda."
          );
      } catch (error) {
        this.loading = false;
        this.$notification["error"]({
          message: "Ah ocurrido un error al cancelar ",
          description: `La campaña ${this.campaing.name} no ha podido ser cancelada, intente de nuevo o comuniquese con soporte.
          ${error.message}
          `
        });
      }
    },
    onGoToStore() {
      this.changeBlockState(true);
      this.changeStepStore(1);
      this.onAddProductsToCampaing(this.campaing);
    },
    async getConvenioName(id) {
      try {
        const response = await this.$axios.get(`campaingstore/convenio/${id}`);
        this.convenioName = response.data.convenio;
      } catch (error) {
        this.$notification["success"]({
          message: "Ah ocurrido un error",
          description: `${error.message}, intente de nuevo o comuniquese con soporte.
          ${error.message}
          `
        });
      }
    },
    onGenerateReportClick() {
      this.exportCSVForm.validateFields(async (err, values) => {
        if (!err) {
          this.exportCSVLoading = true;
          try {
            console.log(this.campaing);
            const dto = {
              campaingId: this.campaing.id
            };
            const response = await this.$axios.get(
              `store/report/${this.campaing.id}`
            );
            console.log({ response });
            this.exportCSVForm.resetFields();
            this.dataToExport = response.data.report;
            this.dataToExportDetail = response.data.detailsSales[0];
            this.exportCSVLoading = false;
            this.isCSVReady = true;
          } catch (err) {
            this.exportCSVLoading = false;
            this.showNotification(
              "error",
              "Error al generar reporte",
              "Ha ocurrido un error al generar este reporte."
            );
          }
        }
      });
    },
    closeExportCSVModal() {
      this.exportCSVForm.resetFields();
      this.exportCSModal = false;
      this.isCSVReady = false;
    }
  }
};
</script>

<style scoped>
.guter-col {
  margin-top: 1rem;
  min-height: 100%;
  height: 96%;
}
.ant-card {
  min-height: 96%;
}
.ant-col {
  min-height: 96%;
}
.buttons_getreport {
  display: flex;
  justify-content: space-around;
}
.button_getreport {
  background-color: #009fd1;
  font-size: 12px;
  border-radius: 24px;
  margin-bottom: 20px;
}
</style>
