<template>
  <a-layout style="height:100%;">
    <a-layout-content
      :style="{
        overflowY: 'scroll'
      }"
      style=" height:100%; min-height: 70vh; padding:3rem;background:white; padding-top: 10px;"
    >
      <!-- @change="onChange" -->
      <a-layout>
        <a-layout-header
          style="background: #fff; padding: 0; height:30%; margin-bottom:1rem;"
        >
          <a-steps
            v-if="
              stepStore === stepStoresCodes.createCampaing ||
                (stepStore === stepStoresCodes.addProducts &&
                  !isEditStoreTitleVisible)
            "
            :current="stepStore"
            size="small"
          >
            <a-step
              style="width:30rem; "
              title="Información de la Campaña"
              description="Indica los detalles de funcionamiento de tu tienda"
            />
            <a-step
              style="width:30%; margin-bottom:1rem; "
              :disabled="stepStore === stepStoresCodes.createCampaing"
              title="Configura la Tienda"
              description="Selecciona los productos que deseas agregar a la tienda."
            />
          </a-steps>
        </a-layout-header>
        <a-layout-content
          :style="{
            margin: '24px 16px',
            padding: '24px',
            height: '100%',
            minHeight: '30rem',
            marginTop: '1rem'
          }"
        >
          <a-skeleton :loading="loading" active>
            <a-row
              v-if="stepStore === null"
              type="flex"
              justify="space-around"
              :gutter="16"
            >
              <CardCampaing
                v-for="campaing in campaings"
                :key="campaing.id"
                :status-codes="statusCodes"
                :step-stores-codes="stepStoresCodes"
                :campaing="campaing"
                :on-edit-campaing="onEditCampaing"
                :change-step-store="changeStepStore"
                :on-add-products-to-campaing="onAddProductsToCampaing"
                :replace-campaing="replaceCampaing"
                :set-business-used="setBusinessUsed"
                :restore-data="restoreData"
                :set-active-campaing-naos="setActiveCampaingNaos"
                :change-block-state="changeBlockState"
              />
              <a-result
                v-if="campaings.length === 0"
                title="Parece que no tienes campañas agregadas"
              >
              </a-result>
            </a-row>
            <AddCampaing
              v-if="stepStore === 0"
              :formm="form"
              :step-store="stepStore"
              :data-form="dataForm"
              :type-store="typeStore"
              :status-codes="statusCodes"
              :change-data-form="changeDataForm"
              :initial-state="initialState"
              :is-editing="isEditing"
              :business-used="businessUsed"
              :change-block-state="changeBlockState"
              :select-campaing="selectCampaing"
            />

            <a-skeleton
              v-if="stepStore === 1"
              :loading="loading"
              class="layout_container"
              active
            >
              <a-list
                :grid="{
                  gutter: 20,
                  xs: 1,
                  sm: 1,
                  md: 2,
                  lg: 2,
                  xl: 4,
                  xxl: 4
                }"
                :data-source="proudcts"
                style="height: 100%;"
              >
                <a-list-item slot="renderItem" slot-scope="item">
                  <CardProduct
                    :is-edit-store-title-visible="isEditStoreTitleVisible"
                    :item="item"
                    :select-product="selectProduct"
                    :type-store="typeStore"
                  />
                </a-list-item>
              </a-list>
            </a-skeleton>
          </a-skeleton>
        </a-layout-content>
      </a-layout>
    </a-layout-content>
    <a-layout-footer style="display: flex; justify-content:flex-end;">
      <span style="margin-right:2rem; ">
        <a-button
          v-if="stepStore === 0"
          style="min-width:10rem;"
          @click="onBack"
          >ATRAS</a-button
        >
        <a-button
          v-if="stepStore === 1"
          style="min-width:10rem;"
          @click="onBack"
          >ATRAS</a-button
        >
        <!-- :loading="inviteUserLoading" -->
      </span>
      <span>
        <a-button
          v-if="stepStore === stepStoresCodes.createCampaing && !isEditing"
          type="primary"
          :loading="loading"
          @click="createCampaing"
        >
          SIGUIENTE
        </a-button>
        <a-button
          v-if="isEditing && stepStore === 0"
          :loading="loading"
          type="primary"
          @click="handleEdit"
        >
          <!-- :loading="inviteUserLoading" -->
          EDITAR Y CONTINUAR
        </a-button>

        <a-button
          v-if="stepStore === 1 && !isEditStoreTitleVisible"
          type="primary"
          @click="handleSendProductsToCampaing"
        >
          PUBLICAR EN TIENDA
        </a-button>
      </span>
    </a-layout-footer>
  </a-layout>
</template>

<script>
import CardCampaing from "./CardCampaing.vue";
import AddCampaing from "./AddCampaing.vue";
import moment from "moment";
import CardProduct from "./CardProduct.vue";
const statusCodes = {
  deleted: 1,
  paused: 2,
  active: 3,
  created: 4,
  finished: 5
};
const stepStoresCodes = {
  editStore: 5,
  createCampaing: 0,
  addProducts: 1
};
const initialState = {
  name: null,
  buymax: 20,
  convenio: null,
  startDate: "",
  finishDate: "",
  giftMax: 3,
  fecha: []
};
export default {
  components: {
    CardCampaing,
    AddCampaing,
    CardProduct
  },
  props: {
    changeRestartSteps: Function,
    changeStepStore: Function,
    changeBlockState: Function,
    setProductsList: Function,
    restoreAllProducts: Function,
    setActiveCampaingNaos: Function,
    proudcts: Array,
    typeStore: Number,
    stepStore: Number
  },
  data() {
    return {
      statusCodes,
      initialState,
      stepStoresCodes,
      dataForm: { ...initialState },
      loading: true,
      campaings: [],
      campaingSelected: null,
      isEditing: false,
      productsSelected: [],
      businessUsed: [],
      isEditStoreTitleVisible: false
    };
  },
  beforeCreate() {
    this.form = this.$form.createForm(this);
  },
  beforeDestroy() {
    this.changeBlockState(false);
  },
  created() {
    this.getAllCampaings();
    this.productsSelected = [];
  },
  mounted() {},
  methods: {
    moment,
    async createCampaing(e) {
      const {
        name,
        convenio,
        buymax,
        giftMax,
        startDate,
        finishDate,
        id
      } = this.dataForm;

      if (this.validateData()) {
        try {
          this.loading = true;
          const response = await this.$axios.post("store", {
            id,
            storeId: this.typeStore,
            bussinessId: convenio,
            name,
            startDate,
            finishDate,
            giftMax,
            buymax
          });
          this.loading = false;
          if (response.data.status === 0) {
            this.$notification["success"]({
              message: "Campaña creada exitosamente",
              description: `Agregue productos a la campaña ${name}`
            });
            this.changeStepStore(1);
            this.changeBlockState(false);
            this.campaingSelected = response.data.campaing;
            this.campaings = [...this.campaings, response.data.campaing];
          } else if (response.data.status === 4) {
            this.$notification["error"]({
              message: "Ya existe una campaña similar",
              description: `Ya existe una campaña para este convenio.`
            });
          } else {
          }
        } catch (error) {
          this.loading = false;
          this.$notification["success"]({
            message: "Ah ocurrido un error ",
            description: `La campaña ${name} no ha podido ser creada, intente de nuevo o comuniquese con soporte.`
          });
        }
      }
    },
    async handleEdit() {
      try {
        const {
          name,
          convenio,
          buymax,
          giftMax,
          startDate,
          id,
          finishDate
        } = this.dataForm;
        let DTO = {
          id,
          storeId: this.typeStore,
          bussinessId: convenio,
          name,
          startedAt: startDate,
          finishedAt: finishDate,
          giftMax,
          buymax
        };
        this.loading = true;
        const response = await this.$axios.put("campaingstore", DTO);
        this.loading = false;
        if (response.data.status === 0) {
          this.$notification["success"]({
            message: "Campaña actualizada correctamente",
            description: `La campaña ${name} ha sido actualizada.`
          });

          this.campaingSelected = response.data.campaing;
          this.replaceCampaing(response.data.campaing);
          this.changeStepStore(1);
          this.getListProducts();
          this.restoreData();
        }
      } catch (error) {
        this.isEditing = false;
        this.loading = false;
        this.$notification["success"]({
          message: "Ah ocurrido un error ",
          description: `La campaña  no ha podido ser creada, intente de nuevo o comuniquese con soporte. ${error.message}`
        });
      }
    },
    async handleSendProductsToCampaing() {
      if (this.productsSelected.length === 0) {
        this.$notification["error"]({
          message: "Debes seleccionar al menos un producto."
        });
      } else {
        try {
          if (this.campaingSelected) {
            const DTO = {
              id: this.campaingSelected.id,
              products: this.productsSelected
            };
            const response = await this.$axios.post("campaingstore", DTO);

            if (response.data.status === 0) {
              this.$notification["success"]({
                message: "Productos agregados correctamente.",
                description: `Se han agregado los productos a la campaña "${this.campaingSelected.name}".`
              });
              this.changeStepStore(null);
              this.getListProducts();
              this.isEditing = false;
              this.changeBlockState(false);
              this.replaceCampaing(response.data.campaing);
              this.productsSelected = [];
            }
            response.data.status === 2 &&
              this.$notification["success"]({
                message: "Los productos o la campaña ya no existen.",
                description: `No se han encontrado estos productos`
              });
          } else {
            this.changeStepStore(null);
            throw new Error("No hay una campaña seleccionada.");
          }
        } catch (error) {
          this.isEditing = false;
          this.loading = false;
          this.$notification["success"]({
            message: "Ah ocurrido un error ",
            description: `La no se han podido agregar los productos, intente de nuevo o comuniquese con soporte. ${error.message}`
          });
        }
      }
    },
    validateData() {
      let valid = true;
      const { name, convenio, startDate, finishDate } = this.dataForm;
      if (!name || !name.trim() || name.trim() === "") {
        this.$notification["error"]({
          message: "Ingresa un nombre para la campaña"
        });
        valid = false;
      }

      if (this.typeStore === 4) {
        //Convenio
        if (!convenio || convenio === null || convenio === "") {
          this.$notification["error"]({
            message: "Debe escoger un convenio"
          });
          valid = false;
        }
      } else if (this.typeStore === 1) {
        if (
          !startDate ||
          startDate === null ||
          !finishDate ||
          finishDate === null
        ) {
          this.$notification["error"]({
            message: "Debe escoger un rango válido"
          });
          valid = false;
        }
      }
      return valid;
    },
    restoreData() {
      this.dataForm = { ...initialState };
      this.isEditing = false;
      this.productsSelected = [];
      this.isEditStoreTitleVisible = false;
      this.loading = false;
    },
    changeDataForm(newDataForm, isEdit) {
      this.dataForm = newDataForm;
      this.isEditing = isEdit;
      this.loading = false;
    },
    async getAllCampaings() {
      try {
        this.loading = true;

        const { data, status } = await this.$axios.get(
          `campaingstore/${this.typeStore}`
        );
        if (data.status === 0) {
          this.campaings = data.campaings;
          if (data.activeCampaing) {
            if (this.typeStore === 1) {
              this.setActiveCampaingNaos(data.activeCampaing);
            }
            this.campaings.push(data.activeCampaing);
          }
          this.campaings = this.campaings.reverse();
        }

        this.loading = false;
      } catch (error) {
        alert("Error");
        this.loading = false;
      }
    },
    selectCampaing(campaing) {
      this.campaingSelected = campaing;
    },
    selectProduct(product, status) {
      if (status) {
        this.productsSelected.push(product);
      } else {
        this.productsSelected = this.productsSelected.filter(
          item => item !== product
        );
      }
    },
    onEditCampaing(campaing) {
      this.$store.commit("editingCampaing", campaing);
      this.isEditing = true;
      this.campaingSelected = campaing;
      this.changeBlockState(true);
      this.changeStepStore(0);
      const {
        name,
        buymax,
        giftMax,
        startedAt,
        finishedAt,
        bussinessId,
        id
      } = campaing;
      this.dataForm = {
        id,
        name,
        buymax,
        convenio: bussinessId,
        startDate: moment(startedAt).format("YYYY/MM/DD"),
        finishDate: moment(finishedAt).format("YYYY/MM/DD"),
        fecha: [moment(startedAt), moment(finishedAt)],
        giftMax
      };
    },
    onAddProductsToCampaing(campaing) {
      this.campaingSelected = campaing;
      this.setProductsList(this.campaingSelected.products);
      this.isEditStoreTitleVisible = true;
    },
    onBack() {
      this.dataForm = this.initialState;
      this.restoreAllProducts();
      this.changeRestartSteps();
      this.isEditing = false;
      this.productsSelected = [];
    },
    replaceCampaing(campaing) {
      this.campaings = this.campaings.map(item => {
        if (item.id !== campaing.id) {
          return item;
        } else {
          return campaing;
        }
      });
    },
    setBusinessUsed(bussinessid) {
      const exist = this.businessUsed.find(id => id === bussinessid);
      if (!exist) {
        this.businessUsed.push(bussinessid);
      }
    },
    async getListProducts() {
      try {
        this.isLoagindProducts = true;
        const responseList = await this.$axios.get("product");
        this.proudcts = responseList.data.products;
        this.isLoagindProducts = false;
        this.isEditing = false;
      } catch (err) {
        this.isLoagindProducts = false;
        this.$notification["error"]({
          message: "Error al cargar productos",
          description: "Ha ocurrido un error al cargar los productos."
        });
      }
    }
  }
};
</script>

<style>
.layout_container {
  max-height: 60vh;
  min-height: 60vh;

  overflow-y: scroll;
}
</style>
