<template>
  <div>
    <a-row>
      <a-col :xs="{ span: 22 }">
        <div class="card-container">
          <a-tabs type="card" @change="onChangeTab" style="elevation: 30deg;">
            <a-tab-pane tab="FARMACIAS" key="2">
              <a-input-search
                placeholder="Buscar cadena"
                @search="onSearchChains"
                v-model="chainSearch"
                enterButton
              />
              <a-table
                :columns="chainColumns"
                :dataSource="tableChains"
                style="margin-top: 1rem;"
                :rowKey="record => record.id"
              >
                <span slot="action" slot-scope="text, record">
                  <a-button
                    shape="circle"
                    icon="delete"
                    size="large"
                    @click="showDeleteConfirmChain(record.id, onDeleteChain)"
                  />
                </span>
              </a-table>
            </a-tab-pane>
            <!--ISAIAS-->
            <a-tab-pane tab="ESTHEDERM" key="3">
              <a-input-search
                placeholder="Buscar clínica"
                @search="onSearchClinics"
                v-model="clinicSearch"
                enterButton
              />
              <a-table
                :columns="clinicColumns"
                :dataSource="tableClinics"
                style="margin-top: 1rem;"
                :rowKey="record => record.id"
              >
                <span slot="action" slot-scope="text, record">
                  <a-button
                    shape="circle"
                    icon="delete"
                    size="large"
                    @click="showDeleteConfirmClinic(record.id, onDeleteClinic)"
                  />
                </span>
              </a-table>
            </a-tab-pane>
            <!-- DIGITAL -->

            <a-tab-pane tab="CONVENIO" key="5">
              <a-input-search
                placeholder="Buscar clínica"
                @search="onSearchConvenios"
                v-model="convenioSearch"
                enterButton
              />
              <a-table
                :columns="convenioColumns"
                :dataSource="tableConvenios"
                style="margin-top: 1rem;"
                :rowKey="record => record.id"
              >
                <span slot="action" slot-scope="text, record">
                  <a-button
                    shape="circle"
                    icon="delete"
                    size="large"
                    @click="
                      showDeleteConfirmConvenio(record.id, onDeleteConvenio)
                    "
                  />
                </span>
              </a-table>
            </a-tab-pane>
            <!--ISAIAS-->
          </a-tabs>
          <a-skeleton :loading="isLoadingTable" active />
        </div>
      </a-col>

      <!--columna de nuevo usuario-->
      <a-col class="column-right" :xs="{ span: 2 }" style="text-align:center;">
        <div v-if="activeTab == 2">
          <a-row>
            <a-col>
              <a-button
                shape="circle"
                icon="user-add"
                size="large"
                @click="() => (chainModal = true)"
              />
            </a-col>
            <a-col>NUEVA FARMACIA</a-col>
          </a-row>
        </div>
        <!--ISAIAS-->
        <div v-if="activeTab == 3">
          <a-row>
            <a-col>
              <a-button
                shape="circle"
                icon="user-add"
                size="large"
                @click="() => (clinicModal = true)"
              />
            </a-col>
            <a-col>Nueva clínica</a-col>
          </a-row>
        </div>
        <div v-if="activeTab == 5">
          <a-row>
            <a-col>
              <a-button
                shape="circle"
                icon="user-add"
                size="large"
                @click="() => (convenioModal = true)"
              />
            </a-col>
            <a-col>Nuevo convenio</a-col>
          </a-row>
        </div>
        <!--ISAIAS-->
      </a-col>
    </a-row>

    <a-modal title="Registrar cadena" centered v-model="chainModal">
      <p>
        <a-form :form="chainForm">
          <a-form-item>
            <a-input
              placeholder="Ingresa el nombre de la cadena"
              v-decorator="[
                'chain',
                {
                  rules: [
                    { required: true, message: 'Favor de llenar el campo' }
                  ]
                }
              ]"
            />
          </a-form-item>
        </a-form>
      </p>
      <template slot="footer">
        <a-button
          class="btn-center"
          @click="onSubmitChainForm"
          type="primary"
          style="background-color:#009FD1; border-radius: 24px; width: 200px; margin-bottom: 20px;"
          >REGISTRAR</a-button
        >
      </template>
    </a-modal>
    <!--ISAIAS CLINICA-->
    <a-modal title="Registrar clínica" centered v-model="clinicModal">
      <p>
        <a-form :form="clinicForm">
          <a-form-item>
            <a-input
              placeholder="Ingresa el nombre de la clínica"
              v-decorator="[
                'clinic',
                {
                  rules: [
                    { required: true, message: 'Favor de llenar el campo' }
                  ]
                }
              ]"
            />
          </a-form-item>
        </a-form>
      </p>
      <template slot="footer">
        <a-button
          class="btn-center"
          @click="onSubmitClinicForm"
          type="primary"
          style="background-color:#009FD1; border-radius: 24px; width: 200px; margin-bottom: 20px;"
          >REGISTRAR CLINICA</a-button
        >
      </template>
    </a-modal>
    <a-modal
      title="AGREGAR CONVENIO CON EMPRESA"
      centered
      v-model="convenioModal"
    >
      <p>
        <a-form :form="convenioForm">
          <a-form-item>
            <a-input
              placeholder="Ingresa el nombre de la empresa."
              v-decorator="[
                'business',
                {
                  rules: [
                    { required: true, message: 'Favor de llenar el campo' }
                  ]
                }
              ]"
            />
          </a-form-item>
          <a-form-item label="Indica el porcentaje de descuento">
            <a-input-number
              v-decorator="[
                'discount',
                {
                  rules: [
                    { required: true, message: 'Favor de llenar el campo' }
                  ]
                }
              ]"
              :default-value="100"
              :min="0"
              :max="100"
              :formatter="value => `${value}%`"
              :parser="value => value.replace('%', '')"
            />
            <!-- @change="onChange" -->
          </a-form-item>
        </a-form>
      </p>
      <template slot="footer">
        <a-button
          class="btn-center"
          @click="onSubmitConvenioForm"
          type="primary"
          style="background-color:#009FD1; border-radius: 24px; width: 200px; margin-bottom: 20px;"
          >AGREGAR</a-button
        >
      </template>
    </a-modal>

    <!--ISAIAS CLINICA-->
  </div>
</template>
<script>
import AddRowModal from "../components/modals/Users/AddRowModal.vue";

const chainColumns = [
  {
    dataIndex: "name",
    key: "name",
    title: "Cadena",
    align: "center",
    sorter: (a, b) => {
      if (a.name < b.name) {
        return -1;
      }
      if (a.name > b.name) {
        return 1;
      }
      return 0;
    }
  },
  {
    title: "",
    key: "action",
    scopedSlots: { customRender: "action" }
  }
];
const clinicColumns = [
  {
    dataIndex: "name",
    key: "name",
    title: "Clinica",
    align: "center",
    sorter: (a, b) => {
      if (a.name < b.name) {
        return -1;
      }
      if (a.name > b.name) {
        return 1;
      }
      return 0;
    }
  },
  {
    title: "",
    key: "action",
    scopedSlots: { customRender: "action" }
  }
];
const convenioColumns = [
  {
    dataIndex: "name",
    key: "name",
    title: "NOMBRE DE LA EMPRESA",
    align: "center",
    sorter: (a, b) => {
      if (a.name < b.name) {
        return -1;
      }
      if (a.name > b.name) {
        return 1;
      }
      return 0;
    }
  },
  {
    title: "DESCUENTO",
    dataIndex: "discount",
    key: "name",
    align: "center"
  },
  {
    title: "",
    key: "action",
    scopedSlots: { customRender: "action" }
  }
];
export default {
  components: {
    AddRowModal
  },
  data() {
    return {
      collapsed: false,
      userSearch: "",
      chainSearch: "",
      clinicSearch: "",
      convenioSearch: "",
      usersListInfo: [],
      chainColumns,
      clinicColumns,
      convenioColumns,
      value: 1,
      activeTab: 1,
      chainModal: false,
      clinicModal: false,
      convenioModal: false,
      chainForm: this.$form.createForm(this),
      clinicForm: this.$form.createForm(this),
      convenioForm: this.$form.createForm(this),
      chains: [],
      clinics: [],
      convenios: [],
      tableChains: [],
      tableClinics: [],
      tableConvenios: [],
      isLoadingTable: true,
      dataToExport: [],
      reportSelected: 1
    };
  },
  mounted() {
    this.getChains();
  },
  methods: {
    callback(key) {
      console.log(key);
    },

    onChangeTab(activeTabKey) {
      this.activeTab = activeTabKey;
      switch (activeTabKey) {
        case "2":
          this.getChains();
          this.chainSearch = "";
          break;
        case "3":
          this.getClinics();
          this.clinicSearch = "";
          break;
        case "5":
          this.getClinics();
          this.getConvenios();
          this.convenioSearch = "";
          break;
        default:
          break;
      }
    },
    async getChains() {
      try {
        this.isLoadingTable = true;
        const responseChains = await this.$axios("chain");
        this.chains = responseChains.data.chains;
        this.tableChains = this.chains;
      } catch (error) {
        console.log("Hubo un error al obtener las cadenas: ", error);
      }
      this.isLoadingTable = false;
    },
    async getClinics() {
      try {
        this.isLoadingTable = true;
        const responseClinics = await this.$axios("clinic");
        this.clinics = responseClinics.data.clinics;
        this.tableClinics = this.clinics;
      } catch (error) {
        console.log("Hubo un error al obtener las clinicas: ", error);
      }
      this.isLoadingTable = false;
    },
    async getConvenios() {
      try {
        this.isLoadingTable = true;
        const responseConvenios = await this.$axios("convenio");
        console.log({ responseConvenios });
        this.convenios = responseConvenios.data.convenios;
        this.tableConvenios = this.convenios;
      } catch (error) {
        console.log("Hubo un error al obtener los convenios: ", error);
      }
      this.isLoadingTable = false;
    },
    onSubmitChainForm() {
      this.chainForm.validateFields(async (err, values) => {
        if (!err) {
          try {
            const response = await this.$axios.post("chain", {
              name: values.chain.toUpperCase().trim(),
              isDeleted: false
            });
            this.chainModal = false;
            this.chainForm.resetFields();
            if (response.data == 1) {
              this.getChains();
              this.showNotification(
                "success",
                "Cadena registrada",
                "La cadena ha sido registrada correctamente."
              );
            } else if (response.data == 2) {
              this.showNotification(
                "info",
                "Esta cadena ya existe",
                "La cadena que ha intentando registrar, ya existe."
              );
            }
          } catch (err) {
            this.showNotification(
              "error",
              "Error al agregar cadena",
              "Ha ocurrido un error al registrar la cadena."
            );
          }
        }
      });
    },
    onSubmitClinicForm() {
      this.clinicForm.validateFields(async (err, values) => {
        if (!err) {
          try {
            console.log("VALUES:", { values });
            const response = await this.$axios.post("clinic", {
              name: values.clinic.toUpperCase().trim(),
              isDeleted: false
            });
            this.clinicModal = false;
            this.clinicForm.resetFields();
            if (response.data == 1) {
              // ----AQUÍ
              this.getClinics();
              this.showNotification(
                "success",
                "Cadena registrada",
                "La clinica ha sido registrada correctamente."
              );
            } else if (response.data == 2) {
              this.showNotification(
                "info",
                "Esta clinica ya existe",
                "La clinica que ha intentando registrar, ya existe."
              );
            }
          } catch (err) {
            this.showNotification(
              "error",
              "Error al agregar clinica",
              "Ha ocurrido un error al registrar la clinica."
            );
            console.log(err);
          }
        }
      });
    },
    onSubmitConvenioForm() {
      this.convenioForm.validateFields(async (err, values) => {
        if (!err) {
          try {
            console.log(values);
            const response = await this.$axios.post("convenio", {
              name: values.business.toUpperCase().trim(),
              isDeleted: false,
              discount: values.discount
            });

            this.convenioForm.resetFields();
            this.convenioModal = false;
            if (response.data == 1) {
              // ----AQUÍ
              this.getConvenios();
              this.showNotification(
                "success",
                "Convenio registrado",
                "El convenio ha sido registrado correctamente."
              );
            } else if (response.data == 2) {
              this.showNotification(
                "info",
                "Este convenio ya existe",
                "El convenio que ha intentando registrar, ya existe."
              );
            }
          } catch (err) {
            this.showNotification(
              "error",
              "Error al agregar convenio",
              "Ha ocurrido un error al registrar el convenio."
            );
            console.log(err);
          }
        }
      });
    },
    showNotification(type, title, message) {
      this.$notification[type]({
        message: title,
        description: message
      });
    },
    async onDeleteChain(chaindId) {
      try {
        const response = await this.$axios.delete(`chain/${chaindId}`);
        if (response.data == 1) {
          this.getChains();
          this.showNotification(
            "success",
            "Cadena eliminada",
            "La cadena ha sido eliminada exitosamente."
          );
        }
      } catch (err) {
        this.showNotification(
          "error",
          "Error al eliminar cadena",
          "Ha ocurrido un error al intentar eliminar la cadena."
        );
      }
    },
    async onDeleteClinic(clinicId) {
      try {
        const response = await this.$axios.delete(`clinic/${clinicId}`);
        if (response.data == 1) {
          this.getClinics();
          this.showNotification(
            "success",
            "Clinica eliminada",
            "La clinica ha sido eliminada exitosamente."
          );
        }
      } catch (err) {
        this.showNotification(
          "error",
          "Error al eliminar clinica",
          "Ha ocurrido un error al intentar eliminar la clinica."
        );
      }
    },
    async onDeleteConvenio(convenioId) {
      try {
        const response = await this.$axios.delete(`convenio/${convenioId}`);
        if (response.data == 1) {
          this.getConvenios();
          this.showNotification(
            "success",
            "Convenio eliminado",
            "El convenio ha sido eliminado exitosamente."
          );
        }
      } catch (err) {
        this.showNotification(
          "error",
          "Error al eliminar convenio",
          "Ha ocurrido un error al intentar eliminar el convenio."
        );
      }
    },
    showDeleteConfirmChain(chaindId, onDelete) {
      this.$confirm({
        title: "¿Estás seguro que deseas eliminar esta cadena?",
        okText: "ELIMINAR",
        okType: "danger",
        cancelText: "CANCELAR",
        centered: true,
        onOk() {
          onDelete(chaindId);
        },
        onCancel() {}
      });
    },
    showDeleteConfirmClinic(clinicId, onDelete) {
      this.$confirm({
        title: "¿Estás seguro que deseas eliminar esta clinica?",
        okText: "ELIMINAR",
        okType: "danger",
        cancelText: "CANCELAR",
        centered: true,
        onOk() {
          onDelete(clinicId);
        },
        onCancel() {}
      });
    },
    showDeleteConfirmConvenio(convenioId, onDelete) {
      this.$confirm({
        title: "¿Estás seguro que deseas eliminar este convenio?",
        okText: "ELIMINAR",
        okType: "danger",
        cancelText: "CANCELAR",
        centered: true,
        onOk() {
          onDelete(convenioId);
        },
        onCancel() {}
      });
    },
    showDeleteConfirmUser(email, onDelete) {
      this.$confirm({
        title: "¿Estás seguro que deseas eliminar este usuario?",
        okText: "ELIMINAR",
        okType: "danger",
        cancelText: "CANCELAR",
        centered: true,
        onOk() {
          onDelete(email);
        },
        onCancel() {}
      });
    },

    onSearchChains(value) {
      const newChain = this.chains.filter(element => {
        return element.name.indexOf(value.toUpperCase()) >= 0;
      });
      if (newChain.length === 0) {
        this.showNotification(
          "info",
          "No se encontraron coincidencias",
          "No se encontraron registros para esta búsqueda."
        );
      } else {
        this.tableChains = newChain;
      }
    },
    onSearchClinics(value) {
      const newClinic = this.clinics.filter(element => {
        return element.name.indexOf(value.toUpperCase()) >= 0;
      });
      if (newClinic.length === 0) {
        this.showNotification(
          "info",
          "No se encontraron coincidencias para esta clínica",
          "No se encontraron registros para esta búsqueda."
        );
      } else {
        this.tableClinics = newClinic;
      }
    },
    onSearchConvenios(value) {
      const newConvenio = this.convenios.filter(element => {
        return element.name.indexOf(value.toUpperCase()) >= 0;
      });
      if (newConvenio.length === 0) {
        this.showNotification(
          "info",
          "No se encontraron coincidencias para este convenio",
          "No se encontraron registros para esta búsqueda."
        );
      } else {
        this.tableConvenios = newConvenio;
      }
    }
  }
};
</script>
<style>
.card-container {
  /* background: #f0f2f5; */
  background: #fff;
  overflow: hidden;
  padding: 24px;
}
.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #526987;
  color: #fff;
}

.column-right {
  margin-top: 65px;
}

.item-modal {
  margin-right: 30px;
  color: #526987;
  font-weight: 500;
}

/* .ant-modal-close-x {
  color: white;
  margin: 1rem 1rem 0 0;
  background-color: #1790FF;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.6);
  transition-delay: 0ms;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.ant-modal-close-x:active {
  transform: scale(0.8);
} */

.total-points-user {
  font-weight: bold;
}

.points-info-user-amount {
  font-size: 2.5rem;
}
</style>
