<template>
  <a-skeleton :loading="isLoagindProducts" active>
    <a-list
      :grid="{ gutter: 16, xs: 1, sm: 1, md: 2, lg: 3, xl: 3, xxl: 4 }"
      :dataSource="proudcts"
      :style="{ overflow: 'scroll' }"
      style="height: 100%; padding:2rem;"
    >
      <a-list-item slot="renderItem" slot-scope="item">
        <a-card style="min-height: 30rem; max-height: 30rem;">
          <div class="campaing__header">
            <a-row align="middle">
              <a-col :lg="{ span: '10' }" :xl="{ span: '14' }">
                <h2 style="font-size:1rem;">
                  {{
                    item.title.length > 19
                      ? item.title.substring(0, 18) + "..."
                      : item.title
                  }}
                </h2>
              </a-col>
              <a-col :lg="{ span: '10' }" :xl="{ span: '8' }">
                <a-row
                  class="camapaing__actions"
                  type="flex"
                  justify="space-between"
                >
                  <a-col span="4">
                    <a-icon
                      class="campaing__action"
                      type="edit"
                      @click="
                        gettingId(item.id),
                          gettingData(
                            item.title,
                            item.description,
                            item.points,
                            item.price,
                            item.image,
                            item.stock
                          )
                      "
                    />
                  </a-col>
                  <a-col span="4">
                    <a-icon
                      class="campaing__action"
                      type="delete"
                      @click="(deleteProductModal = true), gettingId(item.id)"
                    />
                  </a-col>
                </a-row>
              </a-col>
            </a-row>
          </div>
          <a-divider style="margin-top:3rem;" />
          <a-row type="flex" justify="space-around">
            <p class="center">
              <strong>{{ item.points }} puntos</strong>
            </p>
            <p class="center">
              <strong>{{ item.price }} pesos</strong>
            </p>
            <p class="center">
              <a-badge status="warning" dot v-if="item.stock <= 5">
                <strong>{{ item.stock }} pzas</strong>
              </a-badge>
              <strong v-if="item.stock > 5">{{ item.stock }} pzas</strong>
            </p>
          </a-row>
          <div style="height:10rem; text-align:center;">
            <img class="campaing__img" alt="example" :src="item.image" />
          </div>
          <div style="height: 5rem;" class="productDescription">
            <span style="font-weight: 700;">{{ item.description }}</span>
          </div>
        </a-card>
      </a-list-item>
    </a-list>

    <a-modal
      title="ELIMINAR PRODUCTO"
      v-model="deleteProductModal"
      @ok="deletingModal"
      @cancel="onCancelEditOrDelete"
      okText="ELIMINAR"
      cancelText="CANCELAR"
      okType="danger"
    >
      <p>¿Estás seguro de querer eliminar este producto?</p>
    </a-modal>
    <a-modal
      title="EDITAR PRODUCTO"
      v-model="editProductModal"
      @cancel="onCancelEditOrDelete"
      :maskClosable="false"
      centered
    >
      <a-form :form="fileFormEdit">
        <a-form-item>
          <a-input
            setFieldsValue="title"
            v-decorator="[
              'title',
              {
                initialValue: this.newTitle,
                rules: [{ required: true, message: 'Favor de llenar el campo' }]
              }
            ]"
          />
        </a-form-item>
        <a-form-item>
          <a-textarea
            setFieldsValue="description"
            :rows="4"
            v-decorator="[
              'description',
              {
                initialValue: this.newDescription,
                rules: [{ required: true, message: 'Favor de llenar el campo' }]
              }
            ]"
          />
        </a-form-item>
        <a-form-item>
          <div class="dropbox">
            <a-upload-dragger
              v-decorator="[
                'upload',
                {
                  rules: [
                    {
                      required: false,
                      message: 'Favor de cargar un archivo JPG, PNG o JPGE'
                    }
                  ]
                }
              ]"
              name="upload"
              action="https://bioderma-api-inmersys.herokuapp.com/upload/2"
              accept=".png, .jpg, jpge"
              listType="picture"
              @change="handleChangeFileUpload"
              :beforeUpload="beforeUpload"
              :fileList="fileList"
            >
              <p class="ant-upload-drag-icon">
                <img
                  style="max-width:13rem; max-height:8rem;"
                  alt="example"
                  :src="this.newImage"
                />
              </p>
              <p class="ant-upload-text">
                Selecciona o suelta una imagen para tu producto
              </p>
              <p class="ant-upload-hint">
                Unicamente archivos .png, .jpg o .jpge
              </p>
            </a-upload-dragger>
          </div>
        </a-form-item>

        <div class="inputs_container">
          <a-form-item class="center input_container">
            <div>Costo</div>
            <div>
              <a-input-number
                type="number"
                setFieldsValue="points"
                placeholder="Pts"
                :min="0"
                class="input-cost"
                size="small"
                v-decorator="[
                  'points',
                  {
                    initialValue: this.newPoints,
                    rules: [
                      { required: true, message: 'Favor de llenar el campo' }
                    ]
                  }
                ]"
              />
            </div>
          </a-form-item>
          <a-form-item class="center input_container">
            <div class="input_containe">
              <span>Precio (sin decimales)</span>
              <div>
                <a-input-number
                  type="number"
                  :min="0"
                  setFieldsValue="price"
                  placeholder="$"
                  class="input-cost"
                  size="small"
                  v-decorator="[
                    'price',
                    {
                      initialValue: this.newPrice,
                      rules: [
                        {
                          required: true,
                          message: 'Favor de llenar el campo'
                        }
                      ]
                    }
                  ]"
                />
              </div>
            </div>
          </a-form-item>
          <a-form-item class="center input_container">
            <span>Stock</span>
            <div>
              <a-input-number
                type="number"
                setFieldsValue="stock"
                placeholder="pzas"
                :min="0"
                class="input-cost"
                size="small"
                v-decorator="[
                  'stock',
                  {
                    initialValue: this.newStock,
                    rules: [
                      {
                        required: true,
                        message: 'Favor de llenar el campo'
                      }
                    ]
                  }
                ]"
              />
            </div>
          </a-form-item>
        </div>
      </a-form>
      <template slot="footer">
        <div style="text-align:center;">
          <a-button
            type="primary"
            style="background-color:#009FD1; border-radius: 24px; width: 200px; margin-bottom: 20px;"
            @click="onSubmitEditProduct"
            >EDITAR</a-button
          >
        </div>
      </template>
    </a-modal>
    <a-modal
      title="NUEVO PRODUCTO"
      v-model="addProductModal"
      :maskClosable="false"
      @cancel="onCancelNewProduct"
      centered
    >
      <a-form :form="fileForm">
        <a-form-item>
          <a-input
            setFieldsValue="title"
            placeholder="Ingresa el nombre del producto"
            v-decorator="[
              'title',
              {
                rules: [{ required: true, message: 'Favor de llenar el campo' }]
              }
            ]"
          />
        </a-form-item>
        <a-form-item>
          <a-textarea
            setFieldsValue="description"
            placeholder="Ingresa la descripcion del producto"
            :rows="4"
            v-decorator="[
              'description',
              {
                rules: [{ required: true, message: 'Favor de llenar el campo' }]
              }
            ]"
          />
        </a-form-item>
        <a-form-item>
          <div class="dropbox">
            <a-upload-dragger
              v-decorator="[
                'upload',
                {
                  rules: [
                    {
                      required: true,
                      message: 'Favor de cargar un archivo JPG, PNG o JPGE'
                    }
                  ]
                }
              ]"
              name="upload"
              action="https://bioderma-api-inmersys.herokuapp.com/upload/2"
              accept=".png, .jpg, jpge"
              @change="handleChangeFileUpload"
              :beforeUpload="beforeUpload"
              :fileList="fileList"
              listType="picture"
            >
              <p class="ant-upload-drag-icon">
                <a-icon type="picture" />
              </p>
              <p class="ant-upload-text">
                Selecciona o suelta una imagen para tu producto
              </p>
              <p class="ant-upload-hint">
                Unicamente archivos .png, .jpg o .jpge
              </p>
            </a-upload-dragger>
          </div>
        </a-form-item>
        <div class="inputs_container">
          <a-form-item class="center input_container">
            <div>Costo</div>
            <div>
              <a-input-number
                type="number"
                :min="1"
                setFieldsValue="points"
                placeholder="Pts"
                class="input-cost"
                size="small"
                v-decorator="[
                  'points',
                  {
                    rules: [
                      { required: true, message: 'Favor de llenar el campo' }
                    ]
                  }
                ]"
              />
            </div>
          </a-form-item>
          <a-form-item class="center input_container">
            <div class="input_containe">
              <span>Precio (sin decimales)</span>
              <div>
                <a-input-number
                  type="number"
                  :min="1"
                  setFieldsValue="price"
                  placeholder="$"
                  class="input-cost"
                  size="small"
                  v-decorator="[
                    'price',
                    {
                      rules: [
                        { required: true, message: 'Favor de llenar el campo' }
                      ]
                    }
                  ]"
                />
              </div>
            </div>
          </a-form-item>
          <a-form-item class="center input_container">
            <span>Stock</span>
            <div>
              <a-input-number
                type="number"
                :min="1"
                setFieldsValue="stock"
                placeholder="pzas"
                class="input-cost"
                size="small"
                v-decorator="[
                  'stock',
                  {
                    rules: [
                      { required: true, message: 'Favor de llenar el campo' }
                    ]
                  }
                ]"
              />
            </div>
          </a-form-item>
        </div>
      </a-form>
      <template slot="footer">
        <div style="text-align: center;">
          <a-button
            type="primary"
            style="background-color:#009FD1; border-radius: 24px; width: 200px; margin-bottom: 20px;"
            @click="onSubmitPictureForm"
            >PUBLICAR</a-button
          >
        </div>
      </template>
    </a-modal>
  </a-skeleton>
</template>
<script>
import { ok } from "assert";
export default {
  components: {
    //  FormFilter
  },
  props: {
    onCancelNewProduct: Function,
    addProductModal: Boolean
  },
  data() {
    return {
      title: "",
      image:
        "http://dev.fuxcorp.net/memo/Bioderma/Imgs/nuestrapiel_con_marcaDagua.jpg",
      description: "",
      points: "",
      price: "",
      productId: "",
      newId: "",
      newTitle: "",
      newDescription: "",
      newPoints: "",
      newPrice: "",
      newStock: "",
      newImage: "",
      proudcts: [
        {
          id: 0,
          title: "",
          image: "",
          description: "",
          points: 0,
          price: 0,
          isActive: true
        }
      ],
      fileForm: this.$form.createForm(this),
      fileFormEdit: this.$form.createForm(this),
      editProductModal: false,
      deleteProductModal: false,
      fileList: [],
      uploadFileStatus: true,
      isLoagindProducts: false
    };
  },
  mounted() {
    this.getListProducts();
  },
  methods: {
    async getListProducts() {
      try {
        this.isLoagindProducts = true;
        const responseList = await this.$axios.get("product");
        this.proudcts = responseList.data.products;
        this.isLoagindProducts = false;
      } catch (err) {
        this.isLoagindProducts = false;
        this.$notification["error"]({
          message: "Error al cargar productos",
          description: "Ha ocurrido un error al cargar los productos."
        });
      }
    },
    onCancelEditOrDelete() {
      this.editProductModal = false;
      this.deleteProductModal = false;
    },
    deletingModal() {
      this.deleteProduct(this.newId);
      this.deleteProductModal = false;
    },
    gettingData(title, description, points, price, image, stock) {
      console.log("gettingData", points, price, stock);
      this.fileList = [];
      this.newTitle = title;
      this.newDescription = description;
      this.newPoints = points;
      this.newStock = stock;
      this.newPrice = price;
      this.newImage = image;
      this.fileFormEdit.resetFields();
      this.editProductModal = true;
    },
    gettingId(id) {
      console.log("gettingId");
      this.newId = id;
    },
    async deleteProduct(id) {
      const responseDelete = await this.$axios.delete(`product/${id}`);
      if (responseDelete.data.status == 0) {
        this.successDeletingProduct();
      } else {
        this.failDeletingProduct();
      }
    },

    onSubmitEditProduct(id) {
      this.fileFormEdit.validateFields(async (err, values) => {
        if (!err) {
          // console.log("Datos recibidos: ", image);
          try {
            // console.log("VALUES: ", values);
            const editProductDTO = {
              productId: this.newId,
              title: values.title,
              image:
                typeof this.fileList === "undefined" ||
                this.fileList.length == 0
                  ? this.newImage
                  : values.upload.fileList[0].response,
              description: values.description,
              points: values.points,
              stock: values.stock,
              price: values.price
            };

            console.log(editProductDTO);

            const response = await this.$axios.put("product", editProductDTO);

            if (response.data.status == 0) {
              this.fileFormEdit.resetFields();
              this.fileList = [];
              this.getListProducts();
            } else {
              this.failEditingProduct();
            }
            this.editProductModal = false;
          } catch (error) {
            this.$notification["error"]({
              message: "Ha ocurrido un error",
              description: `Ha ocurdido un error durante esta acción. ${error.message}`
            });
          }
        }
      });
    },

    handleChange() {},
    confirmClose() {},
    cancelPictureForm() {
      alert("Cancelar");
    },
    success() {
      this.getListProducts();
    },
    failAddingProduct() {
      this.$notification["error"]({
        message: "Error al añadir un producto",
        description:
          "Se ha producido un error al añadir un producto, favor de intentarlo más tarde."
      });
    },
    failEditingProduct() {
      this.$notification["error"]({
        message: "Error al editar el producto",
        description:
          "Se ha producido un error al editar este producto, favor de intentarlo más tarde."
      });
    },
    successDeletingProduct() {
      this.$notification["success"]({
        message: "Producto eliminado",
        description: "El producto se elimino correctamente."
      });
      this.getListProducts();
    },
    successDeactivatingProduct() {
      this.getListProducts();
    },
    failDeletingProduct() {
      this.$notification["error"]({
        message: "Error al eliminar el producto",
        description:
          "Se ha producido un error al eliminar este producto, favor de intentarlo más tarde."
      });
    },

    onSubmitPictureForm() {
      //alert("Subir");
      this.fileForm.validateFields(async (err, values) => {
        if (!err) {
          // console.log("Datos recibidos: ", values);
          try {
            const newProductDTO = {
              title: values.title,
              image: values.upload.fileList[0].response,
              description: values.description,
              points: values.points,
              price: values.price,
              stock: values.stock
            };
            console.log({ newProductDTO });
            const response = await this.$axios.post("product", newProductDTO);
            if (response.data.status == 0) {
              this.success();
              this.fileForm.resetFields();
              this.fileList = [];
            } else {
              this.failAddingProduct();
            }
            this.onCancelNewProduct();
          } catch (error) {
            this.$notification["error"]({
              message: "Ha ocurrido un error",
              description: `Ha ocurdido un error para esta acción. ${error.message}`
            });
          }
        }
      });
    },
    handleChangeFileUpload(info) {
      if (this.uploadFileStatus) {
        let fileList = [...info.fileList];
        fileList = fileList.slice(-1);
        this.fileList = fileList;
      }
    },
    beforeUpload(file) {
      let status = true;
      const isJPG = file.type === "image/jpeg";
      const isPNG = file.type === "image/png";

      if (!isJPG && !isPNG) {
        this.$message.error("Este formato no esta permido.");
        status = false;
      }

      if (isJPG || isPNG) {
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error("La imagen debe ser menor a 2MB.");
          status = false;
        }
      }

      // console.log("STATUS: ", status);
      this.uploadFileStatus = status;
      return status;
    }
  }
};
</script>
<style scoped>
.input-cost {
  width: 70px;
}
.center {
  text-align: center;
}
.inputs_container {
  display: flex;
  justify-content: space-around;
}
.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_middle {
  width: 50%;
}
.column-right-club {
  margin-top: 25px;
}
.Cards {
  position: relative;
  width: 350px;
}
.productDescription {
  overflow-y: auto;
  margin: 1rem 0 2rem 0;
}
.campaing__action {
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.5);
  transition-delay: 0;
  transition-duration: 10ms;
  transition-timing-function: ease-in-out;
}
.campaing__action:active {
  transform: scale(0.9);
}
.campaing__img {
  text-align: center;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
</style>
