<template>
  <div class="fl">
    <a-layout :xs="{ span: 24 }" style="min-width:78vw; max-width: 78vw;">
      <a-tabs
        default-active-key="5"
        tab-position="top"
        class=" container-stores"
        @change="onChangeTab"
      >
        <a-tab-pane
          key="5"
          tab="PRODUCTOS"
          :disabled="blockStores && activeTab !== 5"
        >
          <Club
            :on-cancel-new-product="onCancelNewProduct"
            :add-product-modal="addProductModal"
          />
        </a-tab-pane>
        <a-tab-pane
          key="1"
          tab="NAOS"
          :disabled="blockStores && activeTab !== 1"
        >
          <Store
            :type-store="1"
            :step-store="stepStore"
            :change-restart-steps="changeRestartSteps"
            :change-step-store="changeStepStore"
            :proudcts="proudcts"
            :change-block-state="changeBlockState"
            :set-products-list="setProductsList"
            :restore-all-products="restoreAllProducts"
            :set-active-campaing-naos="setActiveCampaingNaos"
          />
        </a-tab-pane>
        <a-tab-pane
          key="3"
          :disabled="blockStores && activeTab !== 3"
          tab="CONVENIOS"
        >
          <Store
            :type-store="4"
            :step-store="stepStore"
            :change-restart-steps="changeRestartSteps"
            :change-step-store="changeStepStore"
            :proudcts="proudcts"
            :restore-all-products="restoreAllProducts"
            :change-block-state="changeBlockState"
            :set-products-list="setProductsList"
          />
        </a-tab-pane>
        <a-tab-pane
          key="2"
          tab="CLUB NAOS"
          :disabled="blockStores && activeTab !== 2"
        >
          <!-- El tipo es el tipo de usuario  -->
          <FarmacyStore :type="NAOS" :proudcts="proudcts" />
        </a-tab-pane>
        <!-- <a-tab-pane
          key="4"
          tab="CLUB ESTHEDERM"
          :disabled="blockStores && activeTab !== 4"
        >
          <farmacy-store :type="ESTHEDERM" :proudcts="proudcts" />
        </a-tab-pane>-->
      </a-tabs>
    </a-layout>
    <a-col
      class="column-right-club"
      :xs="{ span: 2 }"
      style="text-align:center; margin-top: 78px"
    >
      <a-row v-if="(stepStore === null && activeTab === 1) || activeTab === 3">
        <a-col>
          <a-button
            shape="circle"
            icon="plus"
            size="large"
            @click="onOpenNewCampaing"
          />
        </a-col>
        <a-col class="title-span-tag"> NUEVA CAMPAÑA</a-col>
      </a-row>
      <a-row v-if="activeTab === 5" style="margin-top:2rem;">
        <a-col>
          <a-button
            shape="circle"
            icon="plus"
            size="large"
            @click="onOpenNewProductModal"
          />
        </a-col>
        <a-col class="title-span-tag">AÑADIR PRODUCTO</a-col>
      </a-row>
      <a-row v-if="activeTab === 2" class="switch-store">
        <a-col style="margin-left:1.2rem;">ACTIVAR TIENDA</a-col>
        <a-col :span="3">
          <a-switch
            style="margin-top:0.5rem;"
            :checked="this.statusClubBioderma"
            @click="StoreCheck"
          ></a-switch>
        </a-col>
      </a-row>
    </a-col>
  </div>
</template>
<script>
import moment from "moment";
import CardProduct from "../components/stores/CardProduct";
import Club from "../views/Club";
import AddCampaing from "../components/stores/AddCampaing.vue";
import Store from "../components/stores/Store.vue";
import FarmacyStore from "../components/stores/Farmacy/FarmacyStore.vue";
import { NAOS, ESTHEDERM } from "../types";

export default {
  components: {
    CardProduct,
    AddCampaing,
    Store,
    Club,
    FarmacyStore
  },

  data() {
    return {
      NAOS,
      ESTHEDERM,
      title: "",
      stepStore: null,
      statusClubBioderma: false,
      textStatusCB: "",
      image:
        "http://dev.fuxcorp.net/memo/Bioderma/Imgs/nuestrapiel_con_marcaDagua.jpg",
      description: "",
      points: "",
      productId: "",
      newPoints: "",
      proudcts: [
        {
          id: 0,
          title: "",
          image: "",
          description: "",
          points: 0,
          isActive: true
        }
      ],
      blockStores: false,
      activeTab: 5,
      isLoagindProducts: false,
      activeCampaingNaos: null,
      addProductModal: false
    };
  },
  created() {
    this.blockStores = false;
    this.getGeneral();
  },

  mounted() {
    this.getListProducts();
    console.log("this.$store", this.$store);
    console.log(this.$store.state);
  },
  methods: {
    moment,
    onOpenNewProductModal() {
      // this.fileForm.resetFields();
      // this.fileList = [];
      this.addProductModal = true;
    },
    onCancelNewProduct() {
      console.log("CAANCELANDO");
      this.addProductModal = false;
    },
    onChangeTab(activeTabKey) {
      this.activeTab = parseInt(activeTabKey);
    },
    async getListProducts() {
      try {
        this.isLoagindProducts = true;
        const responseList = await this.$axios.get("product");
        this.proudcts = responseList.data.products;
        this.isLoagindProducts = false;
      } catch (err) {
        this.isLoagindProducts = false;
        this.$notification["error"]({
          message: "Error al cargar productos",
          description: "Ha ocurrido un error al cargar los productos."
        });
      }
    },
    setProductsList(products) {
      this.allProductsTemporal = [...this.proudcts];
      this.proudcts = [...products];
    },
    restoreAllProducts() {
      this.proudcts = [...this.allProductsTemporal];
    },
    setActiveCampaingNaos(campaing) {
      console.log({ campaing });
      this.activeCampaingNaos = campaing;
    },
    async onOpenNewCampaing() {
      this.stepStore = 0;
      this.blockStores = true;
    },
    changeRestartSteps() {
      this.stepStore = null;
      this.blockStores = false;
    },
    changeBlockState(state) {
      this.blockStores = state;
    },
    changeStepStore(step) {
      this.stepStore = step;
    },

    StoreCheck(value) {
      const component = this;
      if (value == true) {
        this.$confirm({
          title: "TIENDA",
          content: "¿Deseas activar Tienda?",
          okText: "Si, activar.",
          cancelText: "No, dejar desactivada.",
          onOk() {
            component.postStore(value);
            component.statusClubBioderma = true;
            component.textStatusCB = "Desactivar";
            // component.StoreStatus ="https://bioderma-space.sfo2.cdn.digitaloceanspaces.com/assets/TiendaAbierta.png";
          },
          onCancel() {
            component.textStatusCB = "Activar";
            component.statusClubBioderma = false;
          }
        });
      } else {
        component.$confirm({
          title: "TIENDA",
          content: "¿Deseas desactivar Tienda?",
          okText: "Si, desactivar.",
          cancelText: "No, dejar activada.",
          onOk() {
            component.postStore(value);
            component.textStatusCB = "Activar";
            component.statusClubBioderma = false;
          },
          onCancel() {
            component.textStatusCB = "Desactivar";
            component.statusClubBioderma = true;
          }
        });
      }
    },
    async postStore(value) {
      try {
        const responseBiodermaGames = await this.$axios.post(
          "configutarion/club",
          {
            isClubBiodermaActive: value
          }
        );
      } catch (error) {
        console.log(error);
      }
      this.getGeneral();
    },
    async getGeneral() {
      const responseGeneral = await this.$axios.get("configutarion/general");
      this.statusClubBioderma =
        responseGeneral.data.general.isClubBiodermaActive;

      if (this.statusClubBioderma == true) {
        this.textStatusCB = "Desactivar";
      } else {
        this.textStatusCB = "Activar";
      }
    }
  }
};
</script>
<style>
.input-cost {
  width: 70px;
}
.center {
  text-align: center;
}
.column-right-club {
  margin-top: 25px;
}
.Cards {
  position: relative;
  width: 350px;
  height: 350px;
}
.productDescription {
  overflow-y: auto;
  margin: 1rem 0 2rem 0;
}
.campaing__header {
  height: 2.5rem;
}
.campaing__header h2 {
  margin: 0;
}
.container-stores {
  background: white;
  min-width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
}
.campaing__action {
  font-size: 1rem;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(119, 119, 119, 0.5);
  transition-delay: 0;
  transition-duration: 10ms;
  transition-timing-function: ease-in-out;
}
.campaing__action:active {
  transform: scale(0.9);
}
.campaing__img {
  text-align: center;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.ant-tabs-bar {
  margin-bottom: 0 !important;
}
.fl {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}
*::-webkit-scrollbar {
  opacity: 0;
}
.switch-store {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
</style>
