<template>
  <a-layout>
    <a-layout-content
      style="height: 100%; min-height: 70vh; background:white; padding-top: 10px;"
    >
      <a-skeleton :loading="false" active>
        <a-list
          :grid="{
            gutter: 5,
            xs: 1,
            sm: 1,
            md: 2,
            lg: 2,
            xl: 3,
            xxl: 4
          }"
          :dataSource="proudcts"
          style="height: 100%; padding:2rem;"
        >
          <a-list-item slot="renderItem" slot-scope="item">
            <card-product
              :proudcts="proudcts"
              :type="type"
              :isEditStoreTitleVisible="true"
              :isStoreView="true"
              :item="item"
            />
          </a-list-item>
        </a-list>
      </a-skeleton>
    </a-layout-content>
  </a-layout>
</template>

<script>
import CardProduct from "../CardProduct.vue";
const statusCodes = {};
export default {
  components: {
    CardProduct
  },
  props: {
    proudcts: Array,
    typeStore: Number,
    type: Number
  }
};
</script>

<style></style>
