<template>
  <a-row>
    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input
            setFieldsValue="nickName"
            v-decorator="[
              'nickName',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese su nickname',
                    whitespace: true
                  }
                ]
              }
            ]"
            placeholder="NICKNAME"
          />
        </a-form-item>
      </a-col>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input
            setFieldsValue="name"
            placeholder="NOMBRE"
            v-decorator="[
              'name',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese su nombre',
                    whitespace: true
                  }
                ]
              }
            ]"
          />
        </a-form-item>
      </a-col>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input
            setFieldsValue="lastName"
            placeholder="APELLIDOS"
            v-decorator="[
              'lastName',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese sus apellidos',
                    whitespace: true
                  }
                ]
              }
            ]"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col :md="{ span: 8 }" :offset="2">
        <a-form-item>
          <span>Fecha de nacimiento &nbsp;</span>
          <a-date-picker
            setFieldsValue="birthDate"
            v-decorator="[
              'birthDate',
              {
                rules: [
                  {
                    required: true,
                    message: 'Seleccione su fecha de nacimiento'
                  }
                ]
              }
            ]"
            option.initialValue="moment('01-01-2000', dateFormat)"
            :format="dateFormat"
          />
        </a-form-item>
      </a-col>
      <a-col :offset="2" :md="{ span: 8 }">
        <a-form-item>
          <a-radio-group
            setFieldsValue="gender"
            v-decorator="[
              'gender',
              {
                rules: [{ required: true, message: 'Seleccione su genero' }]
              }
            ]"
            name="radioGroup"
          >
            <span>GENERO&nbsp;</span>
            <a-radio :value="1">Hombre</a-radio>
            <a-radio :value="2">Mujer</a-radio>
          </a-radio-group>
        </a-form-item>
      </a-col>
    </a-row>

    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item style="margin-bottom: 15px">
          <a-select
            setFieldsValue="state"
            optionFilterProp="children"
            v-decorator="[
              'state',
              {
                rules: [{ required: true, message: 'Seleccione su Estado' }]
              }
            ]"
            placeholder="Estado"
            @change="onStateChange"
          >
            <a-select-option
              :value="state.id"
              v-for="state in states"
              :key="state.id"
              >{{ state.name }}</a-select-option
            >
          </a-select>
        </a-form-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item style="margin-botton: 15px">
          <a-select
            optionFilterProp="children"
            setFieldsValue="city"
            v-decorator="[
              'city',
              {
                rules: [{ required: true, message: 'Seleccione su municipio' }]
              }
            ]"
            placeholder="Municipio"
            @change="handleSelectChange"
          >
            <a-select-option
              :value="city.id"
              v-for="city in cities"
              :key="city.id"
              >{{ city.name }}</a-select-option
            >
          </a-select>
        </a-form-item>
      </a-col>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input
            pattern="[0-9]{5}"
            setFieldsValue="postalCode"
            placeholder="Código Postal"
            v-decorator="[
              'postalCode',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese su Còdigo Postal',
                    whitespace: true
                  }
                ]
              }
            ]"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <!-- LAST CHANGES -->
    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item style="margin-botton: 15px">
          <a-input
            setFieldsValue="street"
            placeholder="Calle "
            v-decorator="[
              'street',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese su calle',
                    whitespace: true
                  }
                ]
              }
            ]"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input
            placeholder="Colonia"
            setFieldsValue="mayoralty"
            v-decorator="[
              'mayoralty',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese su Colonia',
                    whitespace: true
                  }
                ]
              }
            ]"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input-number
            style="width:100%;"
            placeholder="Número exterior"
            :min="0"
            v-decorator="[
              'outdoor_number',
              {
                rules: [
                  {
                    required: true,
                    message: 'Favor de llenar el campo'
                  }
                ]
              }
            ]"
          />
        </a-form-item>
      </a-col>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input-number
            style="width:100%;"
            placeholder="Número interior"
            v-decorator="['inner_number']"
            :min="0"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <slot />

    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input
            setFieldsValue="phone"
            v-decorator="[
              'phone',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese su numero telefonico',
                    whitespace: true
                  },
                  {
                    pattern: '[0-9,+,(,)]',
                    message: 'Únicamente números'
                  },
                  {
                    min: 10,
                    message: 'Mínimo 10 dígitos'
                  }
                ]
              }
            ]"
            placeholder="NUMERO TELEFONICO"
          />
        </a-form-item>
      </a-col>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input
            setFieldsValue="email"
            placeholder="EMAIL"
            :disabled="isEmailInputDisable"
            v-decorator="[
              'email',
              {
                rules: [
                  {
                    type: 'email',
                    message: 'Correo electronico no valido'
                  },
                  {
                    required: true,
                    message: 'Ingrese su correo electronico'
                  }
                ],
                initialValue: userEmail
              }
            ]"
          />
        </a-form-item>
      </a-col>
    </a-row>
    <a-row>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item help="Contraseña al menos 8 caracteres">
          <a-input-search
            enterButton="Mostrar"
            @search="showPassword"
            class="password"
            pattern=".{8,}"
            placeholder="CONTRASEÑA"
            setFieldsValue="password"
            v-decorator="[
              'password',
              {
                rules: [
                  {
                    required: true,
                    message: 'Ingrese su contraseña'
                  },
                  {
                    validator: validateToNextPassword
                  }
                ]
              }
            ]"
            :type="passw"
          />
        </a-form-item>
      </a-col>
      <a-col
        :lg="{ span: 8 }"
        :md="{ span: 8 }"
        :sm="{ span: 20 }"
        :xs="{ span: 20 }"
        :offset="2"
      >
        <a-form-item>
          <a-input-search
            enterButton="Mostrar"
            @search="showConfirmPw"
            placeholder="CONFIRMAR CONTRASEÑA"
            v-decorator="[
              'confirm',
              {
                rules: [
                  {
                    required: true,
                    message: 'Confirme su contraseña'
                  },
                  {
                    validator: compareToFirstPassword
                  }
                ]
              }
            ]"
            :type="passwCon"
            @blur="handleConfirmBlur"
          />
        </a-form-item>
      </a-col>
    </a-row>
  </a-row>
</template>

<script>
export default {
  props: {
    onStateChange: Function,
    handleSelectChange: Function,
    states: Array,
    form: Object,
    cities: Array,
    userEmail: String,
    passw: String,
    passwCon: String,

    isEmailInputDisable: Boolean,
    showPassword: Function,
    handleConfirmBlur: Function,
    compareToFirstPassword: Function,
    showConfirmPw: Function,
    validateToNextPassword: Function
  },
  data() {
    return {
      dateFormat: "DD-MM-YYYY"
    };
  }
};
</script>

<style></style>
